.item {
  /* background: hsla(186, 33%, 94%, 1); */
  box-shadow: 3px 4px 20px 2px rgba(205, 228, 245, 0.2);

  padding: 14px;

  color: var(--black);

  border-bottom: 1px solid #e2e4ea;
}

.wrapper {
  display: grid;
  grid-template-columns: 20px 1fr auto;
  gap: 10px;
  min-height: 20px;
}

.delButton {
  overflow: hidden;
  width: 0;
  height: 0;
  position: relative;
  padding: 0;
  
  border-radius: 50%;
  border: 2px solid rgb(199, 69, 69);
  opacity: 0;
  cursor: pointer;
  transition:  all 0.3s ease-in;
  
}

.delButton::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 2px;
  top: 7px;
  left: 1px;
  background-color: rgb(199, 69, 69);

  border-radius: 1px;

  transform: rotate(45deg);
}
.delButton::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 2px;
  top: 7px;
  left: 1px;
  background-color: rgb(199, 69, 69);

  border-radius: 1px;

  transform: rotate(135deg);
}

.item:hover .delButton {
  overflow: visible;
  opacity: 100%;
  width: 20px;
  height: 20px;
}

.checkbox {
  display: none;
}

.checkboxLabel {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      cursor: pointer;
      border: 2px solid var(--gray);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      

}
.checkbox:checked .checkboxLabel {
  border: 2px solid #38bb90;
  background-color: #4acea3;
}

.complite {
  text-decoration: line-through;
  background-color: rgba(74, 206, 163, 0.1);
  }

.check {
  display: none;
  padding: 3px;
  width: 10px;
  height: 10px;
  fill: var(--white);
}