.container {
  display: inline-block;
  vertical-align: middle;
}

.hiddenView {
  border: 0;
  clip: rect(0 0 0 0);
  clippath: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hiddenView:focus + & {

}

.activeView {
  display: inline-block;
  width: 16px;
  height: 16px;

  background-color: yellowgreen;

  border-radius: 3px;
  transition: all 150ms;

  cursor: pointer;
}

.icon { 
   padding: 3px;
   width: 10px;
   height: 10px;
  fill: black;
  stroke: white;
  stroke-width: 2px;
  visibility: hidden;
} 

.checkedIcon {
  background-color: green;
}

.checkedIcon svg {
  visibility: visible;
}

